<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
* {
  box-sizing: border-box;
}

body {
  background: #dfd;
}

h1 {
  text-align: center;
}

li {
  margin-block: 0.75rem;
}

@media (min-width: 560px) {
  html {
    padding-block: 16px;
    background: hsl(30, 55%, 15%);
  }

  body {
    max-width: 50rem;
    margin: auto;
    border: 2px solid #880;
    box-shadow: -1px -1px gold, 1px 1px goldenrod;
    padding-block: 1rem;
    padding-inline: 3rem;
  }
}
    </style>
  </head>
  <body>
    {{content}}
    <script>
// Replace direct external links with archive shim links.
const externalLinks = document.querySelectorAll("a[href^='http://'], a[href^='https://']")
for (const a of externalLinks) {
  const href = a.getAttribute("href")
  a.setAttribute("href", href.replace(/^(https?):\/\//, "arx-$1-"))
}
    </script>
  </body>
</html>
